[Unit]
Description=Updating Discord Canary
Requires=network-online.target
Requires=packagekit.service
After=network-online.target
After=packagekit.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/libexec/discord-installer/build.sh DiscordCanary discord-canary https://discordapp.com/api/download/canary?platform=linux&format=tar.gz

[Install]
WantedBy=graphical.target